%h1
  = @current_tournament.name
  = link_to "(her)Genereer schema", generate_schedule_admin_tournament_path(@current_tournament), :class => 'btn', :confirm => 'Alle bestaande wedstrijden voor dit toernooi worden verwijderd.'
%hr
= render @current_tournament.poules