.dib
  %table.table{:style => "min-width:350px;"}
    %thead
      %tr
        %th{:colspan => 4}
          %h3=poule.name
      %tr
        %th Thuis
        %th 
        %th Uit
        %th Uitslag
    %tbody
      =render poule.games