.dib{:style => "min-width:280px;"}
  %table.table{:style => "100%;"}
    %thead
      %tr
        %th{:colspan => 4}=poule.name
      %tr
        %th Thuis
        %th 
        %th Uit
        %th Uitslag
    %tbody
      = render poule.games